.ConnectServices {
	.cards {
		.card {
            cursor: pointer;
			padding: 1.2rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                height: 1.8rem !important;
            }
		}
	}
}
