.ProfileArea {
	margin-top: 3rem;
	.profile-header {
		padding: 2rem;
		border-radius: 2rem;
		margin-bottom: 3rem;
		margin-top: 2rem;
		.name {
			font-size: 1.2rem;
			font-weight: 600;
			margin-bottom: 0.4rem;
		}
	}
}
