.RegisterArea {
	.container {
		margin-top: 7rem;
		margin-bottom: 5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		.right {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.form {
			color: var(--text-two);
			max-width: 25rem;
			&__heading {
				color: var(--accent);
				text-align: center;
				font-weight: 600;
				font-size: 1.7rem;
				margin-bottom: 1rem;
			}
			&__description {
				margin-bottom: 2.5rem;
				text-align: center;
				max-width: 30ch;
			}
			.button__grp {
				display: flex;
				align-items: center;
			}
			.helper-text {
				text-align: center;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.RegisterArea {
		.container {
			margin-top: 3rem !important;
			grid-template-columns: 1fr;
			.left {
				display: none;
			}
		}
	}
}
