@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
	scroll-behavior: smooth;
	::selection {
		background: #777c8546;
	}
}

body {
	transition: all 0.5s;
	background: var(--back);
	color: var(--text);
	-webkit-tap-highlight-color: transparent;
}

* {
	font-family: "Poppins";
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

button.cta {
	font-size: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--accent);
	outline: none;
	padding: 1rem 1.5rem;
	background: var(--accent);
	color: var(--back);
	transition: all 0.3s;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
	color: var(--white);
	box-shadow: 0 0 0 1rem transparent;
	animation: pulse-blue 4s infinite;
	&:hover {
		animation: pulse-blue-fast 1s;
	}
}


::placeholder {
	color: var(--text);
}

#insta-light:hover {
	color: #ff2580;
}
#whatsapp-light:hover {
	color: #17b627;
}
#insta-dark:hover {
	color: #ff4995;
}
#whatsapp-dark:hover {
	color: #67ce71;
}

.shadow-light {
	box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
	0px 10px 32px -4px rgba(24, 39, 75, 0.1);
}

ul li {
	list-style: none !important;
}

label {
	color: var(--accent);
	font-weight: 500;
	margin-bottom: 0.5rem;
}

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: var(--accent);
	}
}

input,
select,
textarea {
	padding: 0.7rem 1.4rem;
	outline: none;
	color: var(--text);
	background: var(--pure);
	border-radius: 0.7rem;
	border: solid 2px var(--accent);
	width: 100%;
}

button {
	width: max-content;
	outline: none;
	border: solid 2px var(--accent);
	padding: 0.7rem 1.5rem;
	cursor: pointer;
	background: var(--pure);
	color: var(--accent);
	border-radius: 0.7rem;
	font-weight: 500;
}

button.accent {
	background: var(--accent);
	color: var(--white);
	animation: pulse-blue 4s infinite;
	box-shadow: 0 0 0 1rem transparent;
	&:hover {
		animation: pulse-blue-fast 1s;
	}
}

@keyframes pulse-blue-fast {
	from {
		box-shadow: 0 0 0 0 var(--accent);
	}
}

@keyframes pulse-blue {
	0% {
		box-shadow: 0 0 0 0 var(--accent);
	}
	30% {
		box-shadow: 0 0 0 1rem transparent;
	}
}

// Modal
.modal {
	margin: 2% auto;
	width: min(90%, 50rem);
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#close-icon {
	cursor: pointer;
}
#close-icon:hover {
	color: var(--red);
}

.modal-container {
	background: var(--pure);
	padding: 3rem;
	border-radius: 1rem;
	.modal__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;
		.modal__heading {
			font-size: 1.4rem;
			font-weight: 600;
		}
	}
}